<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>text align table cell</title>
  <style>
    .c {
      height: 100px;
      width: 200px;
      background-color: #ccc;
    }

    .parent {
      text-align: center;
      vertical-align: middle;
      display: table-cell;
    }

    .child {
      display: inline-block;
      background-color: aquamarine;
    }
  </style>
</head>
<body>
  <div class="parent c">
    <div class="child">text align table cell</div>
  </div>
</body>
</html>