/* 五行 s */

.wuxing-bg {
    margin: 65px auto;
    width: 626px;
    height: 626px;
    position: relative;
    /* background-color: rgba(2, 57, 169, 0.2);
    border: solid 1px #0239a9; */
    border-radius: 50%;
  }
  /* 外圈 */
  .wuxing-bg .wx_bg{
    width: 100%;
    height: 100%;
    font-size: 0;
    animation: wxrotebg 300s infinite;
  }
  .wuxing-bg .wx_bg img{
    width: 100%;
    height: 100%;
  }
  /* 外圈旋转动画 */
  @keyframes wxrotebg {
    0% {
      transform: rotate(0deg)
    }
    50%{
      transform: rotate(180deg)
    }
    100%{
      transform: rotate(360deg)
    }
  }
  
  /* 五行的五个球 */
  .wuxing {
    width: 420px;
    height: 420px;
    /* background-color: #efefef; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  /* 太极 */
  
  .wuxing .taiji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 135px;
    height: 135px;
    /* background-color: #dfd; */
    border-radius: 50%;
    text-align: center;
    line-height: 135px;
  }
  .wuxing .taiji img{
    width: 100%;
    height: 100%;
  }
  /* 五色球 */
  .wuxing .wx-item {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    text-align: center;
    line-height: 124px;
  }
  .wuxing .wx-item img{
    width: 100%;
    height: 100%;
  }
  
  /* 金 */
  
  .wuxing .gold {
  }
  
  /* 土 */
  
  .wuxing .earth {
  }
  
  /* 水 */
  
  .wuxing .water {
  }
  
  /* 火 */
  
  .wuxing .fire {
  }
  
  /* 木 */
  
  .wuxing .wood {
  }
  
  /* small arrow */
  .wuxing .wx_small{
    width: 100%;
    height: 100%;
    transform: rotate(37deg) scale(1);
  }
  .wuxing .small_line{
    width: 123px;
    height: 88px;  
    color: #00ffff;
    font-size: 28px;
    position: absolute;
    
  }
  .wuxing .small_txt{
    position:absolute;
    top: 4px;
    left: 20px;
    transform: rotate(-34deg);
  }
  .wuxing .small_line img{
    width: 100%;
    height: 100%;  
  }
  
  .wuxing .small_line:nth-child(1){
    transform: translate(-50%,-50%) rotate(38deg);
  }
  .wuxing .small_line:nth-child(2){
    transform: translate(-50%,-50%) rotate(106deg);
  }
  .wuxing .small_line:nth-child(3){
    transform: translate(-50%,-50%) rotate(180deg);
  }
  .wuxing .small_line:nth-child(4){
    transform: translate(-50%,-50%) rotate(250deg);
  }
  .wuxing .small_line:nth-child(5){
    transform: translate(-50%,-50%) rotate(-38deg);
  }
  
  /* large arrow */
  .wuxing .wx_large{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* transform: scale(.8); */
  }
  .wuxing .large_line{
    width: 300px;
    height: 40px;
    color: #fbd729;
    font-size: 28px;
    position: absolute;
    transform: translate(-50%,-50%);
  }
  .wuxing .large_txt{
    position:absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .wuxing .large_line img{
    width: 100%;
    height: 100%;  
  }
  
  .wuxing .large_line:nth-child(1){
    transform: translate(-51%,188%);
  }
  
  .wuxing .large_line:nth-child(2){
    transform: translate(-82%,39%) rotate(73deg);
  }
  
  .wuxing .large_line:nth-child(3){
    transform: translate(-71%,-265%) rotate(145deg);
  }

  .wuxing .large_line:nth-child(4){
    transform: translate(-29%,-273%) rotate(220deg);
  }
  .wuxing .large_line:nth-child(5){
    transform: translate(-18%,24%) rotate(287deg);
  }
  
  /* 五行 e */