<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pos fixed 固定底部</title>
    <style>
      * {
            margin: 0;
            padding: 0;
        }

        #wrap {
            display: flex;
            flex-flow: column;
            min-height: 100vh;
        }

        #main {
            flex: 1;
        }

        #footer {
            height: 150px;
            background: #0c8ed9
        }
    </style> 
</head>

<body>
    <div id="wrap">
        <div id="main">正文</div>
        <div id="footer">底部</div>
    </div>
</body>

</html>