<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>calc</title>

</head>
<body>
<div style="width: 500px;margin: auto;border: 1px solid #ccc;float: left">
  <img src="images/docenter.png" alt style="width:250px;height: 250px; float: left;">
  <p>For this design, we want that margin to continue vertically, visually
    focussing the image via the negative space beneath it. The problem is
    that the fluidity of paragraphs means that the text will eventually creep
    under the image as the viewport narrows: For this design, we want that
    margin to continue vertically, visually focussing the image via the
    negative space beneath it. The problem is that the fluidity of paragraphs
    means that the text will eventually creep under the image as the viewport
    narrows: For this design, we want that margin to continue vertically,
    visually </p>
</div>
<div style="width: 500px;margin: auto;border: 1px solid #ccc;float: left">
  <img src="images/docenter.png" alt style="width:250px;height: 250px; float: left;">
  <p style="margin-left: calc(50%);">For this design, we want that margin to continue vertically, visually
    focussing the image via the negative space beneath it. The problem is
    that the fluidity of paragraphs means that the text will eventually creep
    under the image as the viewport narrows: For this design, we want that
    margin to continue vertically, visually focussing the image via the
    negative space beneath it. The problem is that the fluidity of paragraphs
    means that the text will eventually creep under the image as the viewport
    narrows: For this design, we want that margin to continue vertically,
    visually </p>
</div>
</body>
</html>
