html {
  font-size: 10px;
}

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}


/* 日历 */

.zh-almanac {
  margin-top: 5px;
  height: 100%;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 282px;
}

.zh-almanac * {
  box-sizing: border-box;
}

.alc-container {
  position: relative;
  color: #333;
  border: 1px solid #d2d2d2;
}

.alc-container .main {
  width: 280px;
  padding: 0;
}

.hint-bar {
  background-color: #f3f5fa;
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 200;
}

.control-bar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px 0px;
  padding-left: 6px;
}

.control-bar .control-module {
  background-color: #f3f5fa;
  border: 1px solid #c9cccf;
  float: left;
  margin-right: 5px;
  position: relative;
}

.control-bar .control {
  border-left: 1px solid #c9cccf;
  border-right: 1px solid #c9cccf;
  float: left;
  height: 12px;
  line-height: 12px;
  padding: 4px 10px 0;
}

.control .field {
  height: 12px;
  line-height: 12px;
  padding: 0;
  margin-left: -5px;
}

.year-control .control,
.month-control .control {
  width: 59px;
  height: 20px;
  text-align: center;
}

.sel-control .control {
  width: 59px;
  height: 20px;
  text-align: center;
}

.control-module .prev,
.control-module .next {
  float: left;
  height: 20px;
  width: 15px;
  /*hide 左右按钮*/
  display: none;
}

.control-bar .control {
  /*hide 左右按钮*/
  border: none;
}

.control-module .prev,
.control-module .next,
.control-module .trigger {
  background: url("images/bar.gif") no-repeat;
}

.control-module .next {
  background-position: 0 -25px;
}

.control-module .trigger {
  background-position: 0 -50px;
  cursor: pointer;
  float: right;
  height: 20px;
  margin-right: -10px;
  margin-top: -4px;
  width: 15px;
}

.control-bar .btn-today {
  background-color: #fcfcfc;
  border: 1px solid #c9cccf;
  cursor: pointer;
  float: left;
  padding: 0px 10px;
  text-align: center;
  height: 22px;
  line-height: 22px;
}

.control-bar .list {
  position: absolute;
  top: 20px;
  height: 169px;
  width: 61px;
  background: #fff;
  border-color: #c9cccf;
  border-style: none solid solid;
  border-width: 0 1px 1px;
  padding: 0;
  margin-top: 1px;
  left: -1px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 200;
  list-style: none;
}

.control-bar .list li {
  color: #9a9a9a;
  cursor: pointer;
  width: 56px;
  height: 20px;
  line-height: 20px;
  margin-bottom: 1px;
  text-align: left;
  padding-left: 8px;
  z-index: 200;
}

.zh-almanac .dates-bd .today {
  color: #ff0000;
}

.zh-almanac .dates-bd .notCur {
  color: #999;
}


.control-bar .sel-list {
  height: auto;
}

.control-bar .list li:hover,
.control-bar .list li.on {
  background-color: #77a1b4;
  color: #fff;
}

.control-bar .list .hover {
  background-color: #77a1b4;
  color: #fff;
}

.control-bar .control:hover {
  cursor: pointer;
}


/* 日历 */

.dates-hd,
.dates-bd {
  margin: 0;
  padding: 0;
  list-style: none;
}

.dates-hd li {
  padding: 5px;
  width: 40px;
  float: left;
  background: none repeat scroll 0 0 #fefbeb;
  border-color: #f1ebe4;
  border-style: solid solid solid none;
  border-width: 1px 1px 1px medium;
  font-size: 14px;
  text-align: center;
}

.dates-bd li span::selection {
  background-color: #fff;
}

.dates-bd li span::-moz-selection {
  background-color: #fff;
}

.dates-bd li span::-webkit-selection {
  background-color: #fff;
}

.dates-bd li {
  position: relative;
  width: 40px;
  height: 40px;
  float: left;
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid #f1ebe4;
  border-right: 1px solid #f1ebe4;
  cursor: pointer;
  font-size: 18px;
  z-index: 2;
  text-align: center;
  overflow: hidden;
}

.dates-bd li:hover,
.dates-bd li.on {
  background-color: #fefbeb;
}

.dates-bd li .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  z-index: -1;
}

.dates-bd li .layer span {
  width: 50%;
  font-size: 14px;
  float: left;
  height: 16px;
}

.dates-bd .solar {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  width: 100%;
}

.dates-bd .lunar {
  color: #999;
  display: block;
  font-size: 12px;
  height: 25px;
  line-height: 12px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.hidden {
  display: none;
}

.clearfix::before,
.clearfix::after {
  box-sizing: border-box;
  clear: both;
  content: " ";
  display: table;
}
