<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>absolut transform</title>
    <style>
        .c{
            height: 100px;
            width: 200px;
            background-color: #ccc;
        }
        .parent{
            position: relative;
        }
        .child{
            position: absolute;
            top:50%;
            transform: translateY(-50%);
        }
    </style>
</head>
<body>
    <div class="parent c">
        <div class="child">absolut transform</div>
    </div>
</body>
</html>