<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>flex align center</title>
    <style>
        .c{
            height: 100px;
            width: 200px;
            background-color: #ccc;
        }
        .parent{
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="parent c">
        <div class="child">flex align center</div>
    </div>
</body>
</html>